.container {
     background: url("pushupbw.jpg") no-repeat center fixed;
     -webkit-background-size: cover;
  	 -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100%;
  	 width: 100%;
  	 height: auto;  
  	top: 0;
  	left: 0;
    }
.green { background-color: #70db70; 
}

h4 { color: white;
     font-size: 26px; 
     text-shadow:  2px 2px black;
}

.black {color: black;
  font-size: 18px;
  text-align: center;

}


p { font-size: 30px;
text-align: center;
font-style: Bookman, Arial, Times New Roman;
 }

h5 {font-size: 30px;
    color: yellow;
    text-shadow:  2px 2px black;
    text-align: center;
    }

 h1 {
 	margin-top: 66px;
 	text-align: center;
	font-size: 52px;
 	text-shadow:  2px 2px black;
  color: #ff0000;
 	font-style: Bookman, Arial, Times New Roman;
 }

 .images {
 	height: 125px;
 	width: 125px;
 }

#bodytext {
  font-size: 20px;
  font-style: Arial;
  text-align: center;
  

}

#headline, #formToFillTwo {
	font-size: 24px;
	font-style: Arial;
	text-align: center;
	color: blue;

}
